---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'MegaDomino — Free game for professional',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Telechaje',
        href: 'https://drive.google.com/file/d/1bC5KIkukOsNVc0Ax3hdJjQE6MXwFTsqv/view?usp=sharing',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Group Telegram', href: 'https://t.me/+6UNlN2DE_OplMmRh' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Free game for earning real money<span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight">Mega Domino</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">MEGA DOMINO</span>  est une entreprise dynamique 
        qui a vu le jour en 2022 et qui a révolutionné l'industrie du jeu de dominos en ligne.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Mega Domino: Production-ready.</span>
       
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title=" Caractéristiques principales de MEGA DOMINO"
    subtitle="Multijoueur en ligne : Jouez contre des joueurs du monde entier en temps réel."
    items={[
      {
        title: 'Gains en argent réel :',
        description:
          "MEGA DOMINO offre la possibilité de gagner de de l'argent réel en participant à des tournois et en battant vos adversaires .",
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Variété de règles de jeu : ',
        description:
          "choisissez parmi une variété de règles de jeu de dominos, y compris des règles classiques et d'autres variantes passionnantes....",
        icon: 'tabler:components',
      },
      {
        title: 'Les meilleures pratiques',
        description:
          'Comprenez les règles du jeu, Pratiquez régulièrement, Soyez stratégique, Restez concentré,  Amusez-vous .',
        icon: 'tabler:list-check',
      },
      {
        title: 'retrait instantané',
        description:
          "retirez de l'argent sur mega domino immédiatement, utilisez le service de notre partenaire 4poch, qui vous permet de retirer le profit que vous réalisez sur mega domino en quelques minutes, envoyez-le vers d'autres plateformes.",
        icon: 'tabler:rocket',
      },
      {
        title: 'Support client réactif : ',
        description:
          " une équipe de support client dédiée est disponible pour répondre aux questions et résoudre les problèmes des joueurs.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Communauté internationale :',
        description:
          ' Avec des membres de différents pays, MEGA DOMINO crée une communauté mondiale de joueurs de dominos passionnés. ',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Build for You "
    title="Mega Domino, le plus grand multijoueur en ligne au monde !"
    items={[
      {
        title: 'Construit sur la technologie Web3',
        description:
          'Bénéficier des performances et les memes fonctionnalités conviviales pour les jouers de ce jeu.',
      },
      {
        title: 'possibilité de gains élevés',
        description:
          'Facilitez une conception rapide de gain pour tous les joueurs axé sur les technique de base.',
      },
      {
        title: 'compatibilité Ios et Android',
        description:
          "Assurez-vous que votre appareils présente une connectivité  qui fonctionne de manière cohérente sur l'application, nous offronts ainsi une expérience transparente à tous les utilisateurs.",
      },
    ]}
    image={{ src: '~/assets/images/toro.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Bâtir sur des fondations modernes</h3>
      Bénéficiez d’un avantage concurrentiel en intégrant les meilleures pratiques de l’industrie
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Haut niveau  de revenu passif',
        description: `Jouez contre des joueurs du monde entier en temps réel. Affrontez vos amis ou relevez des défis contre des adversaires aléatoires.`,
      },
      {
        title: 'Variété de règles de jeu ',
        description:
          "choisissez parmi une variété de règles de jeu de dominos, y compris des règles classiques et d'autres variantes passionnantes.",
      },
      {
        title: "Mega Domino est bien plus qu'un simple jeu",
        description:
          " c'est une opportunité d'améliorer votre niveau de revenu passif tout en vivant une expérience sociale unique.",
      },
      {
        title: 'Mega Domino communauté',
        description:
          ' Rejoignez cette communauté dynamique, créez des alliances, et défiez-vous les uns les autres pour gravir les échelons du succès financier tout en vous amusant.',
      },
    ]}
    image={{ src: '~/assets/images/bingo.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="content">Assurez-vous que votre présence en ligne vous présente des opportuniter vraiment.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Engagement amélioré des utilisateurs',
        description:
          'un jeu de dominos multijoueur en ligne passionnant et innovant.',
      },
      {
        title: 'Amélioration continue',
        description:
          "MEGA DOMINO s'engage à fournir une plateforme de jeu équitable, sécurisée et amusante aux amateurs de dominos du monde entier.",
      },
      {
        title: 'Les meilleures pratiques',
        description:
          'Comprenez les règles du jeu, Pratiquez régulièrement, Soyez stratégique, Restez concentré, Amusez-vous .',
      },
      {
        title: 'Soutien communautaire',
        description: `Rejoignez la communauté croissante MegaDomino pour obtenir des informations, des ressources et de l'aide`,
      },
    ]}
    image={{ src: '~/assets/images/toro.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="content">Conçu pour les pro</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Affrontez vos amis ou relevez des défis."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "cliquez sur le bouton download pour telecharger la dernière version de mega domino.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Creer votre compte</em>',
        description:
          "creer votre profile d'utilisateur en quelques etape simplifier.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Ajouter des coin sur votre compte</span>',
        description:
          'simplifie votre recharge avec notre partenaire local 4 poch pour ajouter du credit sur votre compte.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{ src: '~/assets/images/big.png', alt: 'AstroWind Hero Image' }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="construire pour les joueurs"
    subtitle="Fournit des fonctionnalité pour ameliorer l'experience utilisateur"
    tagline="jeux web3"
    items={[
      {
        title: 'Players',
        description: "les joueur doivent avoir au moins 18 ans pour jouer au jeu d'argent.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'deposit',
        description:
          "les deposit sont traité par nos partenaires et marchand!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'payout',
        description:
          'recevez vos gains sur votre compte dans les plus brefs délai!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'app',
        description:
          "telchager nos applications iOS et androïde.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'communauté',
        description:
          'Rejoignez cette communauté dynamique, créez des alliances, et défiez-vous les uns les autres pour gravir les échelons du succès financier tout en vous amusant.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'package',
        description: 'choisissez des package pour commencer votre room et gagner des revenu considerable',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Support',
        description: 'une équipe de support client dédiée est disponible pour répondre aux questions et résoudre les problèmes des joueurs.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'contacter les membre de la communauté sur telegram.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'server',
        description: "choisir des serveur dans le monde entier pour trouver des jouer dans le monde entier!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Découvrez plus de contenu sur notre blog"
    information={`MEGA DOMINO s'engage à fournir une plateforme de jeu équitable,  
                        sécurisée et amusante aux amateurs de dominos du monde entier
                        MegaDomino est une technologie très intéressante. Merci.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions fréquemment posées"
    subtitle="Plongez dans les questions suivantes pour mieux comprendre les fonctionnalités puissantes offertes par MegaDomino et comment elles peuvent améliorer votre experience dans ce jeu"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Pourquoi MegaDomino ?',
        description:
          "MEGA DOMINO est une entreprise dynamique qui a vu le jour en 2022 et qui a révolutionné l'industrie du jeu de dominos en ligne. Fondé par un groupe diversifié de membres du Bangladesh, d'Haïti, du Pakistan, d'Inde, des États-Unis et du Nigeria, MEGA DOMINO a réussi à rassembler des talents et des compétences d'horizons divers pour créer un jeu de dominos multijoueur en ligne passionnant et innovant.",
      },
      {
        title: 'De quoi ai-je besoin pour commencer ?',
        description:
          "Il suffit d'avoir 18 ans et d'avoir un smartphone et une bonne connexion Internet pour commencer à jouer en ligne et habileté dans le jeu de domino classique tout en acceptant les risques liés au jeu.",
      },
      {
        title: 'Comment installer le Méga domino ?',
        description:
          "Vous pouvez télécharger la dernière version de MegaDomino depuis le site officiel à partir du bouton de téléchargement, l'installer sur votre téléphone et connecter un compte pour commencer à jouer.",
      },
      {
        title: "Gains en argent réel ?:",
        description:
          "MEGA DOMINO offre la possibilité de gagner de de l'argent réel en participant à des tournois et en battant vos adversaires .",
      },
      {
        title: 'compatibilité Ios et Android ?',
        description:
          "Assurez-vous que votre appareils présente une connectivité qui fonctionne de manière cohérente sur l'application, nous offronts ainsi une expérience transparente à tous les utilisateurs.",
      },
      {
        title: 'Caractéristiques principales de MEGA DOMINO?',
        description:
          "Multijoueur en ligne : Jouez contre des joueurs du monde entier en temps réel. Affrontez vos amis ou relevez des défis contre des adversaires aléatoires. Gains en argent réel : MEGA DOMINO offre la possibilité de gagner de l'argent réel en participant à des tournois et en battant vos adversaires. Variété de règles de jeu : choisissez parmi une variété de règles de jeu de dominos, y compris des règles classiques et d'autres variantes passionnantes.",
      },
    ]}
  />

  <!-- Stats Widget ********************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Telechaje',
        href: 'https://drive.google.com/file/d/1bC5KIkukOsNVc0Ax3hdJjQE6MXwFTsqv/view?usp=sharing',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      MegaDomino<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Soyez très surpris par ces énormes possibilité de gains sur notre plateforme  : <br class="hidden md:inline" />
      Ne perdez plus de temps !
    </Fragment>
  </CallToAction>
</Layout>
